/*Aplico reset*/

*{
    margin:0 ;
    padding:0 ;
    box-sizing: border-box;
}




            /*ESTILOS GENERALES*/

/*Estilo fondo*/

html{
    height: 100%;
}

body{
    background-image: linear-gradient(to right,rgb(21, 25, 101),
    rgb(50, 64, 123),
    rgb(81, 85, 133),
    rgb(70, 181, 209));
}

/*Estilo menu*/


h1{
    padding-bottom: 30px;
    text-align: center;
}

h3{
    text-align: center;
    padding-bottom: 10px;
}

header nav{
    justify-content: center;
}

header nav ul{
    text-align: center;
}

header nav ul li{
    margin-inline: 10px;
    display: inline-block;
    border-radius: 25px;
    font-weight: bold;
    list-style: none;
    background-color: rgba(58, 9, 104, 0.758);
    padding: 5px;
}

header nav ul li:hover{
    background-color: gold;
    box-shadow: 1px 8px 10px black;
    transform: rotate(7deg);
}

header nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: green;
}


h1{
    color: rgba(9, 9, 70, 0.936);
    font-family:Acrobat,Arial Unicode MS,Impact,Arial Black,sans-serif!important;
}

/*Estilo main*/

main{
    height: 100%;
    margin: 50px;
}

/*Estilo del footer*/



footer ul li{
    display: inline;
    margin-inline: 10px;
}

footer ul{
    margin-bottom: 30px;
}

footer{
    text-align: center;
    color: gold;
}

footer .insta{
    width: 3%;
}

footer .face{
    width: 3%;
}

footer .twitt{
    width: 3%;
}


    /*ESTILOS INDEX*/


/*Estilos main*/

.webb{
    width: 70%;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.luna{
    margin-top: 100px;
    width: 20%;
    animation-name: girar;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes girar{
    fron{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}


.home{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 0.5fr 0.5fr;

    grid-template-areas: "img-webb titulo"
                         "img-luna img-luna";
}


.img-webb{
    grid-area: img-webb;
    grid-row: 1;
    grid-column: 1;
}

.titulo{
    margin-top: 50px;
    grid-area: titulo;
    grid-row: 1;
    grid-column: 2;
}

.img-luna{
    grid-area: img-luna;
    grid-row: 2;
    grid-column: 1;
}




    /*ESTILOS PRODUCTOS*/


/*Estilo main*/


.remera{
    width: 50%;
}
.poster{
    width: 50%;
}
.canguro{
    width: 50%;
}
.collar{
    width: 60%;
}

.productos{
    width: 100%;
    height: 130vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;

    grid-template-areas: "remera poster"
                         "canguro collar";
       
    align-content: center;
}

.remera{
    grid-area: remera;
    grid-row: 1;
    grid-column: 1;
}

.poster{
    grid-area: poster;
    grid-row: 1;
    grid-column: 2;
}

.canguro{
    grid-area: canguro;
    grid-row: 2;
    grid-column: 1;
}

.collar{
    grid-area: collar;
    grid-row: 2;
    grid-column: 2;
}







    /*ESTILOS CONTACTO*/

/*Estilo form*/



form{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.449), rgba(0, 0, 128, 0.751), rgba(241, 50, 50, 0.592));
    margin: 60px;
}

form div fieldset{
    color: whitesmoke;
}

.datos{
    color: gold;
    text-align: center;
}

.mapa{
    margin: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}






    /*ESTILOS GALERIA*/

/*Estilo main*/

.galeria{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    grid-template-areas: "img-1 titulo-1" 
                         "img-2 titulo-2"
                         "img-3 titulo-3" 
                         "img-4 titulo-4"
                         "img-5 titulo-5" 
                         "img-6 titulo-6"
                         "img-7 titulo-7";

    align-items: center;
    justify-items: center;
}

.img-1{
    grid-area: img-1;
    grid-row: 1;
    grid-column: 1;
}

.titulo-1{
    grid-area: titulo-1;
    grid-row: 1;
    grid-column: 2;
}

.img-2{
    grid-area: img-2;
    grid-row: 2;
    grid-column: 1;
}

.titulo-2{
    grid-area: titulo-2;
    grid-row: 2;
    grid-column: 2;
}

.img-3{
    grid-area: img-3;
    grid-row: 3;
    grid-column: 1;
}

.titulo-3{
    grid-area: titulo-3;
    grid-row: 3;
    grid-column: 2;
}

.img-4{
    grid-area: img-4;
    grid-row: 4;
    grid-column: 1;
}

.titulo-4{
    grid-area: titulo-4;
    grid-row: 4;
    grid-column: 2;
}

.img-5{
    grid-area: img-5;
    grid-row: 5;
    grid-column: 1;
}

.titulo-5{
    grid-area: titulo-5;
    grid-row: 5;
    grid-column: 2;
}

.img-6{
    grid-area: img-6;
    grid-row: 6;
    grid-column: 1;
}

.titulo-6{
    grid-area: titulo-6;
    grid-row: 6;
    grid-column: 2;
}

.img-7{
    grid-area: img-7;
    grid-row: 7;
    grid-column: 1;
}

.titulo-7{
    grid-area: titulo-7;
    grid-row: 7;
    grid-column: 2;
}

.primerImagen{
    width: 90%;
}

.primerSelfie{
    width: 70%;
}

.segundaSelfie{
    width: 90%;
}

.campoProfundo{
    width: 90%;
}

.galaxias{
    width: 75%;
}

.nebulosaCarina{
    width: 90%
}

.nebulosaPlanetaria{
    width: 80%;
}








    /*ESTILOS DATOS*/

/*Estilo tabla*/


table{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.449), rgba(0, 0, 128, 0.751), rgba(241, 50, 50, 0.592));
    margin-left: 15%;
    margin-top: 50px;
    width: 70%;
    border: 2px solid #000;
    border-spacing: 5px;
}

th, td{
    color: aliceblue;
    width: 60%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.1em;
    caption-side: bottom;
}

th{
    text-align: center;
    background: rgba(255, 200, 0, 0.618);
}

td{
    background: rgba(192, 192, 192, 0.342);
}


/*Estilo video*/


.video{
    margin: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*Estilo div*/


.caja{
    margin-top: 70px;
}

.caja h2{
    background: rgba(255, 200, 0, 0.618);
    margin-top: 30px;
    text-align: center;
}

.caja p{
    color: antiquewhite;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 35px;
    text-align: start;
}




    

    /*MEDIAQUERIES*/


/* Estilo mobile -- Galeria*/

    

    
@media screen and (min-width: 400px) and (max-width: 700px){
    .galeria{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:  auto;
    
        grid-template-areas: "img-1"
                             "titulo-1" 
                             "img-2"
                             "titulo-2"
                             "img-3"
                             "titulo-3" 
                             "img-4"
                             "titulo-4"
                             "img-5"
                             "titulo-5"
                             "img-6"
                             "titulo-6"
                             "img-7"
                             "titulo-7";
    }
    .img-1{
        grid-area: img-1;
        grid-row: 1;
        grid-column: 1;
    }

    .titulo-1{
        grid-area: titulo-1;
        grid-row: 2;
        grid-column: 1;
    }
    
    .img-2{
        grid-area: img-2;
        grid-row: 3;
        grid-column: 1;
    }

    .titulo-2{
        grid-area: titulo-2;
        grid-row: 4;
        grid-column: 1;
    }
    
    .img-3{
        grid-area: img-3;
        grid-row: 5;
        grid-column: 1;
    }

    .titulo-3{
        grid-area: titulo-3;
        grid-row: 6;
        grid-column: 1;
    }
    
    .img-4{
        grid-area: img-4;
        grid-row: 7;
        grid-column: 1;
    }

    .titulo-4{
        grid-area: titulo-4;
        grid-row: 8;
        grid-column: 1;
    }
    
    .img-5{
        grid-area: img-5;
        grid-row: 9;
        grid-column: 1;
    }

    .titulo-5{
        grid-area: titulo-5;
        grid-row: 10;
        grid-column: 1;
    }
    
    .img-6{
        grid-area: img-6;
        grid-row: 11;
        grid-column: 1;
    }

    .titulo-6{
        grid-area: titulo-6;
        grid-row: 12;
        grid-column: 1;
    }
    
    .img-7{
        grid-area: img-7;
        grid-row: 13;
        grid-column: 1;
    }

    .titulo-7{
        grid-area: titulo-7;
        grid-row: 14;
        grid-column: 1;
    }
}




/* Estilo mobile -- Index*/

    

    
@media screen and (min-width: 400px) and (max-width: 700px){
    .home{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 0.5fr;

        grid-template-areas: "img-webb"
                             "titulo"
                             "img-luna";
    }

    .img-webb{
        grid-area: img-webb;
        grid-row: 1;
        grid-column: 1;
    }

    .titulo{
        grid-area: titulo;
        grid-row: 2;
        grid-column: 1;
    }

    .img-luna{
        grid-area: img-luna;
        grid-row: 3;
        grid-column: 1;
    }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }

.titulo h3 {
  width: 2px;
  height: 5px; }

section {
  background-color: black;
  box-shadow: 2px 2px 5px;
  margin: 3rem;
  padding: 2rem;
  border: 2px solid black;
  line-height: 1rem; }
